
html,
body {
  overflow: hidden;
}

.controls {
  position: fixed;
  left: 20px;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls input {
  flex-grow: 1;
}

.controls label {
  padding-left: 10px;
}
