
.darkred,
[data-color="darkred"],
[data-darkred] {
  color: darkred;
}

.darkblue,
[data-color="darkblue"],
[data-darkblue] {
  color: darkblue;
}

.red,
[data-color="red"],
[data-red] {
  color: red;
}

.blue,
[data-color="blue"],
[data-blue] {
  color: blue;
}
