
.darkred,
[data-color="darkred"],
[data-darkred] {
  color: darkred;
  stroke: darkred;
}

.darkblue,
[data-color="darkblue"],
[data-darkblue] {
  color: darkblue;
  stroke: darkblue;
}

.red,
[data-color="red"],
[data-red] {
  color: red;
  stroke: red;
}

.blue,
[data-color="blue"],
[data-blue] {
  color: blue;
  stroke: blue;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
